

h1{
    font-family: 'IM Fell English SC', serif;
    font-size: 150px;
    text-align: center;
    padding-top: 40px;
}



.box{
    margin: 20px;
    box-shadow: 0 0 10px rgb(0, 0,0 );
}

.container{
  align-items: center;
}

img{
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
    text-align: center;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}


